{% extends "_layouts/govuk-service-manual.html" %}

{% block content %}

<main id="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="index.html">Service Manual</a>
    </li>
    <li class="active">
        Data to build and run services
    </li>
  </ol>
</div>

<h2 class="heading-large">Data to build and run services</h2>

<div class="grid-row">

    <div class="column-one-third">
      <h4 class="heading-small"><a href="../govuk-registers.html">Registers</a></h4>
      <p>Registers are lists of information for building services</p>
    </div>

    <div class="column-one-third">
      <h4 class="heading-small"><a href="https://data.gov.uk/">Find data</a></h4>
      <p>Use government data to carry out research or build APIs and services</p>
    </div>

    <div class="column-one-third">
      <h4 class="heading-small"><a href="https://www.gov.uk/performance">Service data</a></h4>
      <p>Check how government services are performing</p>
    </div>

</div>

<!-- Bottom: Publish and use government data -->

</main>

{% endblock %}