{% extends "_layouts/govuk-service-manual.html" %}

{% block inside_header %}
{% endblock %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Deliver great public services</h1>

        <p class="lede"> 
        All you need to design, build and run services that meet government standards.
        </p>

      </div>
      <div class="column-two-thirds">
        <div class="in-manual-search-blue">
          <form action="search.html">
                 <input type="hidden" name="filter_manual[]" value="/guidance/content-design">
                 <input id="search-box" type="text" name="question" placeholder="Search">
                 <button type="submit" style="">search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<main id="content" role="main">



<!-- Row 1 Standards and Guidance -->

<div class="grid-row">
    <div class="column-full">

      <h2 class="heading-large">Standards and guidance</h2>

    </div>

    <div class="column-two-thirds">

      <h2 class="heading-medium mt_20"><a href="/govuk-service-manual/standard.html">The Digital Service Standard</a></h2>
      <p>Learn about the 18 point standard that government services must meet</p>

    </div>

</div>  


<div class="grid-row">

  <div class="column-two-thirds">
        <h2 class="heading-medium mt_10">Guidance</h2>

        <div class="grid-row">

          <ul class="list">


            <div class="column-one-half">
              <li><a href="The team">Agile delivery</a></li>
              <li><a href="https://www.gov.uk/service-manual/communities">Communities</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Funding and buying</a></li>
              <li><a href="#">Helping people to use your service</a></li>
            </div>

            <div class="column-one-half">
              <li><a href="#">Measuring success</a></li>
              <li><a href="#">Service assessments</a></li>
              <li><a href="#">Technology</a></li>
              <li><a href="#">User research</a></li>
            </div>

          </ul> 
        </div> 
  </div>

</div>

<hr class="mb_0">

<!-- Row 2 Products -->

<div class="grid-row">


    <div class="column-full">

      <h2 class="heading-large">GOV.UK Products</h2>

    </div>

</div>

<div class="grid-row">

    <div class="column-one-half">
      <h4 class="heading-medium mt_20"><a href="/govuk-notify">GOV.UK Notify</a></h4>
      <p>Send secure text messages, emails or letters to users</p>
    </div>

    <div class="column-one-half">
      <h4 class="heading-medium mt_20"><a href="/govuk-pay">GOV.UK Pay</a></h4>
      <p>Make it simple to make payments online</p>
    </div>

</div>    


<div class="grid-row">
    <div class="column-one-half">
      <h4 class="heading-medium mt_20"><a href="/govuk-verify">GOV.UK Verify</a></h4>
      <p>Let users prove their identity online</p>
    </div>

    <div class="column-one-half">
      <h4 class="heading-medium mt_20"><a href="/govuk-paas-2">GOV.UK PaaS</a></h4>
      <p>Quickly, simply deploy your service on a government hosted platform</p>
    </div>
</div>

<div class="grid-row">    

    <div class="column-one-half">
      <h4 class="heading-medium mt_20"><a href="https://governmentasaplatform.blog.gov.uk/2016/08/16/discovery-of-two-parts/">GOV.UK Single Sign On</a></h4>
      <p>Access to GOV.UK products and tools for public servants</p>
    </div>

</div>

    
<hr class="mb_0">


<!-- Row 3 Patterns and advice -->


<div class="grid-row">


    <div class="column-full">

      <h2 class="heading-large">Patterns and advice</h2>

    </div>

</div>    

<div class="grid-row">

    <div class="column-two-thirds">

      <h2 class="heading-medium mt_10">Service design</h2>
      <p>Design principles, patterns, styles and tools for government services</p>


      <div class="grid-row">

        <div class="column-full">
              <div class="grid-row">
                <ul class="list">


                  <div class="column-one-half">
                    <li><a href="The team">Design principles</a></li>
                    <li><a href="#">Design guidance</a></li>
                    <li><a href="#">GOV.UK Frontend</a></li>
                    <li><a href="#">GOV.UK Prototype Kit</a></li>
                  </div>

                  <div class="column-one-half">
                    <li><a href="#">GOV.UK Elements</a></li>
                    <li><a href="#">GOV.UK Patterns</a></li>
                    <li><a href="#">Department patterns</a></li>
                  </div>

                </ul> 
              </div> 
        </div>

      </div>

      <h2 class="heading-medium">Technology and specialists</h2>
      <p>Buy software, hardware and digital specialists on our Digital Marketplace</p>

      <div class="grid-row">

        <div class="column-full">
              <div class="grid-row">
                <ul class="list">


                  <div class="column-one-half">
                    <li><a href="/digital-marketplace">Digital Marketplace</a></li>
                    <li><a href="https://governmentasaplatform.blog.gov.uk/category/webchat/">Webchat</a></li>
                    <li><a href="#">Staff computers</a></li>
                  </div>

                  <div class="column-one-half">
                    <li><a href="#">Wi-Fi</a></li>
                    <li><a href="#">Email</a></li>
                  </div>

                </ul> 
              </div> 
        </div>

      </div>






      <h2 class="heading-medium">Publishing</h2>
      <p>Publish GOV.UK guides, campaigns and blogs</p>

      <div class="grid-row">

        <div class="column-full">
              <div class="grid-row">
                <ul class="list">


                  <div class="column-one-half">
                    <li><a href="#">Publish on GOV.UK</a></li>
                    <li><a href="#">Campaigns</a></li>
                    <li><a href="#">Style guide</a></li>
                  </div>

                  <div class="column-one-half">
                    <li><a href="#">Publish data</a></li>
                    <li><a href="#">GOV.UK Blogs</a></li>
                  </div>

                </ul> 
              </div> 
        </div>

      </div>



      <h2 class="heading-medium">Training</h2>
      <p>Get training in service mangement, user research, design and content.</p>

      <div class="grid-row">

        <div class="column-full">
              <div class="grid-row">
                <ul class="list">


                  <div class="column-one-half">
                    <li><a href="#">Digital induction</a></li>
                    <li><a href="#">Service manager training</a></li>
                    <li><a href="#">Design training</a></li>
                  </div>

                </ul> 
              </div> 
        </div>

      </div>


      <h2 class="heading-medium">Government data</h2>
      <p>Improve your service with government registers, APIs and performance data</p>

      <div class="grid-row">

        <div class="column-full">
              <div class="grid-row">
                <ul class="list">


                  <div class="column-one-half">
                    <li><a href="#">Registers</a></li>
                    <li><a href="#">Find data</a></li>
                    <li><a href="#">Service data</a></li>
                  </div>

                </ul> 
              </div> 
        </div>

      </div>

    
</div>


</main>

{% endblock %}