{% extends "_layouts/govuk-service-manual.html" %}

{% block content %}

<main id="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="index.html">Service Manual</a>
    </li>
    <li class="active">
        Digital Service Standard
    </li>
  </ol>
</div>



<div class="grid-row">

  <div class="column-two-thirds">
    <div class="page-header">
      <h1 class="heading-large">Digital Service Standard</h1>
      <p class="page-header__summary">
        The Digital Service Standard is a set of 18 criteria to help government create and run good digital services.
      </p>
      <p class="page-header__intro">
        All public facing transactional services must meet the standard. It’s used by departments and the Government Digital Service to check whether a service is good enough for public use.
      </p>
    </div>
  </div>

	<div class="column-one-third">
	    <div class="govuk-related-items">
	      <h2 class="heading-medium">
	        Get notifications</h2>
	      
	        <p class="related-item__description">Get an email when any points in the Digital Service Standard are updated
	      <a class="related-item__email-link" href="/service-manual/service-standard/email-signup">sign up</a>
	    </p>
	    
	    </div>
	</div> <!-- End One Third -->
</div>

<!-- Points -->
<div class="grid-row">

  <div class="column-two-thirds">

      <div class="service-standard-point" id="criterion-1">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">1.</span>
          Understand user needs
        </h2>

        <div class="service-standard-point__details">
          <p>Understand user needs. Research to develop a deep knowledge of who the service users are and what that means for the design of the service.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/understand-user-needs">Read more about point 1</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-2">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">2.</span>
          Do ongoing user research
        </h2>

        <div class="service-standard-point__details">
          <p>Put a plan in place for ongoing user research and usability testing to continuously seek feedback from users to improve the service.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/do-ongoing-user-research">Read more about point 2</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-3">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">3.</span>
          Have a multidisciplinary team
        </h2>

        <div class="service-standard-point__details">
          <p>Put in place a sustainable multidisciplinary team that can design, build and operate the service, led by a suitably skilled and senior service manager with decision-making responsibility.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/have-a-multidisciplinary-team">Read more about point 3</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-4">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">4.</span>
          Use agile methods
        </h2>

        <div class="service-standard-point__details">
          <p>Build your service using the agile, iterative and user-centred methods set out in the manual.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/use-agile-methods">Read more about point 4</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-5">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">5.</span>
          Iterate and improve frequently
        </h2>

        <div class="service-standard-point__details">
          <p>Build a service that can be iterated and improved on a frequent basis and make sure that you have the capacity, resources and technical flexibility to do so.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/iterate-and-improve-frequently">Read more about point 5</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-6">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">6.</span>
          Evaluate tools and systems
        </h2>

        <div class="service-standard-point__details">
          <p>Evaluate what tools and systems will be used to build, host, operate and measure the service, and how to procure them.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/evaluate-tools-and-systems">Read more about point 6</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-7">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">7.</span>
          Understand security and privacy issues
        </h2>

        <div class="service-standard-point__details">
          <p>Evaluate what user data and information the digital service will be providing or storing and address the security level, legal responsibilities, privacy issues and risks associated with the service (consulting with experts where appropriate).</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/understand-security-and-privacy-issues">Read more about point 7</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-8">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">8.</span>
          Make all new source code open
        </h2>

        <div class="service-standard-point__details">
          <p>Make all new source code open and reusable, and publish it under appropriate licences (or provide a convincing explanation as to why this can't be done for specific subsets of the source code).</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/make-all-new-source-code-open">Read more about point 8</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-9">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">9.</span>
          Use open standards and common platforms
        </h2>

        <div class="service-standard-point__details">
          <p>Use open standards and common government platforms where available.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/use-open-standards-and-common-platforms">Read more about point 9</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-10">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">10.</span>
          Test the end-to-end service
        </h2>

        <div class="service-standard-point__details">
          <p>Be able to test the end-to-end service in an environment identical to that of the live version, including on all common browsers and devices, and using dummy accounts and a representative sample of users.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/test-the-end-to-end-service">Read more about point 10</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-11">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">11.</span>
          Make a plan for being offline
        </h2>

        <div class="service-standard-point__details">
          <p>Make a plan for the event of the digital service being taken temporarily offline.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/make-a-plan-for-being-offline">Read more about point 11</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-12">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">12.</span>
          Make sure users succeed first time
        </h2>

        <div class="service-standard-point__details">
          <p>Create a service which is simple to use and intuitive enough that users succeed the first time.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/create-a-service-thats-simple">Read more about point 12</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-13">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">13.</span>
          Make the user experience consistent with GOV.UK
        </h2>

        <div class="service-standard-point__details">
          <p>Build a service consistent with the user experience of the rest of GOV.UK including using the design patterns and style guide.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/make-the-user-experience-consistent-with-govuk">Read more about point 13</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-14">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">14.</span>
          Encourage everyone to use the digital service
        </h2>

        <div class="service-standard-point__details">
          <p>Encourage all users to use the digital service (with assisted digital support if required) alongside an appropriate plan to phase out non-digital channels and services.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/encourage-everyone-to-use-the-digital-service">Read more about point 14</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-15">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">15.</span>
          Collect performance data
        </h2>

        <div class="service-standard-point__details">
          <p>Use tools for analysis that collect performance data. Use this data to analyse the success of the service and to translate this into features and tasks for the next phase of development.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/collect-performance-data">Read more about point 15</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-16">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">16.</span>
          Identify performance indicators
        </h2>

        <div class="service-standard-point__details">
          <p>Identify performance indicators for the service, including the 4 mandatory key performance indicators (KPIs) defined in the manual. Establish a benchmark for each metric and make a plan to enable improvements.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/identify-performance-indicators">Read more about point 16</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-17">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">17.</span>
          Report performance data on the Performance Platform
        </h2>

        <div class="service-standard-point__details">
          <p>Why you should report data and how you'll be assessed.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/report-performance-data-on-the-performance-platform">Read more about point 17</a></p>
        </div>
      </div>

      <div class="service-standard-point" id="criterion-18">
        <h2 class="heading-medium service-standard-point__title">
          <span class="service-standard-point__number">18.</span>
          Test with the minister
        </h2>

        <div class="service-standard-point__details">
          <p>Test the service from beginning to end with the minister responsible for it.</p>
          <p class="service-standard-point__link"><a href="/service-manual/service-standard/test-with-the-minister">Read more about point 18</a></p>
        </div>
      </div>
  </div>



</main>

{% endblock %}