{% extends "_layouts/govuk-verify.html" %}

{% set section = "index" %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Products</a>
            </li>
            <li class="active">
                Verify
            </li>
          </ol>
        </div>

      </div>

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">WHAT THE THINGS DOES</h1>

        <p class="lede"> 
          IN MORE DETAIL
        </p>

        <a class="button button-start" href="#" role="button">
          PRIMARY ACTION
        </a>

      </div>
    </div>
  </div>
</div>

<main id="content" role="main">

 

</main>

{% endblock %}