{% extends "_layouts/govuk-verify.html" %}

{% set section = "index" %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Components</a>
            </li>
            <li class="active">
                Verify
            </li>
          </ol>
        </div>

      </div>

      <div class="column-one-third column-float-right">
         <img class="component-logo" src="/public/images/govuk-verify-white.png">
      </div>

      <div class="column-two-thirds column-float-left">

       
        <h1 class="heading-xlarge">Connecting to GOV.UK Verify</h1>

        <p class="lede"> 
          GOV.UK Verify allows users to securely access digital government services, and makes sure that people using your service are who they say they are. <!-- Eventually, if you’re running a service that needs to know a user’s identity, you’ll have to use GOV.UK Verify, unless the user is a business or an agent, in which case you must use Government Gateway. -->
        </p>

<!--         <a class="button button-start" href="#" role="button">
          PRIMARY ACTION
        </a> -->

      </div>
      

    </div>
  </div>
</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">Start using GOV.UK Verify</h2>


      <p>To <a href="http://alphagov.github.io/identity-assurance-documentation">start using GOV.UK Verify</a>, you need to go through a 6-stage onboarding process.</p>

      <p>Eventually, if you’re running a service that needs to know a user’s identity, you’ll have to use GOV.UK Verify, unless the user is a business or an agent, in which case you must use Government Gateway.</p>

      <div class="panel panel-border-wide">
        <p><span style="font-weight: bold;">This guidance is for people building government services</span>.

        <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">Find&nbsp;out&nbsp;more&nbsp;about&nbsp;GOV.UK Verify</a>.</p>
      </div>  
      
    </div>
  </div>
  
  <div class="grid-row">
    <div class="column-two-thirds">

    <h2 class="heading-large">Why GOV.UK Verify is safer</h2>
      
      <div class="video-wrapper">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Vtu7eKc6QpY" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </div>


</main>

{% endblock %}