{% extends "_layouts/govuk-notify.html" %}

{% set section = "using-notify" %}

{% block content %}

<main id="content" class="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="../govuk-service-manual/index#govuk-products">Products</a>
    </li>
    <li>
        <a href="index.html">Notify</a>
    </li>
    <li class="active">
        Using Notify 
    </li>
  </ol>
</div>


<div class="grid-row">
    <div class="column-one-third">

        <nav class="subnav">
            <ul class="">
                <li><a href="terms-of-use.html">Terms of use</a></li>
                <li><a href="delivery-and-failure.html">Delivery and failure</a></li>
            </ul>
        </nav>

    </div>

    <div class="column-two-thirds">
    
        <!-- <h1 class="heading-large">Using Notify</h1> -->

        <h1 class="heading-large">Trial mode</h2>
   
        <p>
          All new accounts on Notify start off in trial mode.
        </p>
        <p>
          This means:
        </p>
        
        <ul class="list list-bullet">
          <li>
            you can only send messages to yourself
          </li>
          <li>
            you can add people to your team, then you can send messages to them too
          </li>
          <li>
            you can only send 50 messages per day
          </li>
        </ul>

        <p>
          When you’re ready we can remove these restrictions.
        </p>

<h2 class="heading-large  ">Pricing</h2>

    <h2 class="heading-medium ">Emails</h2>

    <p>
      Sending email through GOV.UK&nbsp;Notify is completely free.
    </p>

    <h2 class="heading-medium">Text messages</h2>

    <ul class="list list-bullet">
      <li>Free allowance: 250,000 text messages per service, per financial year</li>
      <li>If your messages are long, they will count as 2 or 3 text messages, depending on length:
      <ul class="list list-bullet">
        <li>Up to 160 characters = 1 text message</li>
        <li>Up to 306 characters = 2 text messages</li>
        <li>Up to 459 characters = 3 text messages</li>
      </ul></li>
      <li>Standard text message rate: 1.65p + VAT</li>
    </ul>

    <p>
      We simply charge you the costs we pay to our delivery partners.
      We don’t mark these costs up in any way.
    </p>

    <h2 class="heading-medium">No monthly charge or setup fee</h2>
    <p>
      There are no other charges for using Notify. There’s no monthly charge
      or setup fee.
    </p>

    <p>
      The Government Digital Service is funding the development and running
      of Notify. We’re also covering the cost of the free emails and text messages.
    </p>




    </div>

</div>    



 

</main>

{% endblock %}