{% extends "_layouts/govuk-registers.html" %}

{% set section = "using-registers" %}

{% block content %}

<main id="content" class="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="../govuk-service-manual/index#govuk-products">Components</a>
    </li>
    <li>
        <a href="index.html">Registers</a>
    </li>
    <li class="">
        <a href="using-registers.html">Using Registers</a>
    </li>

    <li class="active">
        Available Registers
    </li>

  </ol>
</div>




<div class="grid-row">
    <div class="column-one-third">

		<nav class="subnav">
			<ul class="">
				<li class="active">Available registers</li>
				<li><a href="combining-registers">Combining registers</a></li>
			</ul>
		</nav>



	</div>

	<div class="column-two-thirds">
    
		<h1 class="heading-large">Available registers</h1>

		<p>You can use any of the following registers to build your service.</p>

		<h2 class="heading-medium"><a rel="" href="https://country.register.gov.uk/">Country register</a></h2>

		<p>A list of British-English names and descriptive terms for countries.</p>

		<h2 class="heading-medium"><a rel="" href="https://local-authority-eng.register.gov.uk/">Local authority England register</a></h2>

		<p>A list of local authorities in England.</p>

		<h2 class="heading-medium"><a rel="" href="https://local-authority-type.register.gov.uk/">Local authority type register</a></h2>

		<p>A list of types of local government organisations in the United Kingdom.</p>

		<div class="panel panel-border-wide">
			<p>These registers are in beta. Other registers (including registers of charities, schools and territories) are currently in discovery and alpha.</p>
		</div>

	
		</div>
	</div>
</div> 

</main>

{% endblock %}