{% extends "_layouts/govuk-registers.html" %}

{% set section = "using-registers" %}

{% block content %}

<main id="content" class="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="../govuk-service-manual/data.html">Government Data</a>
    </li>
    <li>
        <a href="index.html">Registers</a>
    </li>
    <li class="active">
        <a href="using-registers.html">Using Registers</a>
    </li>
  </ol>
</div>


<div class="grid-row">
    <div class="column-one-third">

		<nav class="subnav">
			<ul class="">
				<li><a href="available-registers">Available registers</a></li>
				<li><a href="popular-combinations">Popular combinations</a></li>
				<li class="active">Creating a register</li>
				<li><a href="becoming-a-custodian">Becoming a custodian</a></li>
			</ul>
		</nav>

	</div>

	<div class="column-two-thirds">
    
		<h1 class="heading-large">Creating a register</h1>

		<h2 class="heading-medium">How you can work with Government Digital Service (GDS) to create a register</h2>

		<p>Registers can help you keep your organisation’s data up to date.</p>

		<p>There are 4 phases involved in creating a register.</p>

		<p>You need to request a register first. If your request is accepted, you’ll get help from <abbr title="Government Digital Service">GDS</abbr> to:</p>

		<ul class="list list-bullet">
		  <li>define what data will be included in the register</li>
		  <li>build the register</li>
		  <li>publish the register</li>
		</ul>

		<h2 class="heading-medium" id="requesting-register">Requesting a register</h2>

		<p>During this phase, you’ll make a request for a register. If it’s approved, you’ll decide who’s responsible for looking after it.</p>

		<p>Once you’ve completed all the steps in this phase, your request will be added to the backlog of <abbr title="Government Digital Service">GDS</abbr>’s registers team. It’ll be prioritised among other requests and moved into the next phase when the team is ready to work on it.</p>

		<h3 class="heading-small" id="make-your-request">1. Make your request</h3>

		<p>Contact the registers team at <abbr title="Government Digital Service">GDS</abbr> to request a register.</p>

		<p><a href="mailto:registerteam@digital.cabinet-office.gov.uk">registerteam@digital.cabinet-office.gov.uk</a></p>

		<p>You’ll need to:</p>

		<ul class="list list-bullet">
		  <li>provide a short description of the data you have (this should be 140 characters or less)</li>
		  <li>suggest a name for the register (this should be a singular noun, such as ‘country’)</li>
		  <li>say which organisation owns the data</li>
		</ul>

		<h3 class="heading-small" id="the-register-is-accepted">2. The register is accepted</h3>

		<p><abbr title="Government Digital Service">GDS</abbr> will look at your request to make sure your proposed register:</p>

		<ul class="list list-bullet">
		  <li>meets a valid user need</li>
		  <li>is being managed by the right organisation</li>
		</ul>

		<p>You might be asked for some more information about your data, such as how often it’s updated or what format it’s in.</p>

		<p>You’ll get a response from <abbr title="Government Digital Service">GDS</abbr> within 10 days. If they don’t think your data is suitable for a register, they might suggest you publish it somewhere else instead, for example on GOV.UK.</p>

		<h3 class="heading-small" id="agree-a-custodian">3. Agree a custodian</h3>

		<p>Your organisation must appoint one person, known as the <a href="https://www.gov.uk/guidance/registers-becoming-a-custodian">custodian</a>, to keep the register up to date.</p>

		<p>The custodian must contact <abbr title="Government Digital Service">GDS</abbr> to confirm they:</p>

		<ul class="list list-bullet">
		  <li>are happy to be involved in the project</li>
		  <li>have permission from their <a href="https://www.gov.uk/service-manual/making-software/information-security.html#government-assurance">senior information risk owner (<abbr title="senior information risk owner">SIRO</abbr>)</a> to take the role</li>
		</ul>

		<p>The custodian’s name and organisation will be published alongside the register.</p>

		<h2 class="heading-medium" id="defining-register">Defining the register</h2>

		<p>Based on the needs of your users, you’ll decide what data will be included in the register. You’ll also decide on the best way to collect feedback from your users.</p>

		<p>At this stage, the register will be in ‘discovery’.</p>

		<h3 class="heading-small" id="agree-dataset">4. Agree dataset</h3>

		<p>Your organisation will take part in a workshop with <abbr title="Government Digital Service">GDS</abbr> to decide what will be included in the register.</p>

		<p>After the workshop, you’ll create a first draft of the register and send it to <abbr title="Government Digital Service">GDS</abbr> for review.</p>

		<p>This version of the register isn’t final. It can be revised based on any user feedback you receive later on.</p>

		<h3 class="heading-small" id="review-how-feedback-is-collected">5. Review how feedback is collected</h3>

		<p>Your organisation and <abbr title="Government Digital Service">GDS</abbr> will decide the most effective way of collecting and responding to user feedback on the register.</p>

		<h3 class="heading-small" id="review-how-the-register-is-updated">6. Review how the register is updated</h3>

		<p>You’ll show <abbr title="Government Digital Service">GDS</abbr> how the current dataset is updated. This will help them know what needs to be built to help the custodian keep the register up to date.</p>

		<h2 class="heading-medium" id="building-register">Building the register</h2>

		<p><abbr title="Government Digital Service">GDS</abbr> will help the custodian build the register, using your organisation’s first draft of the register as a starting point.</p>

		<p>The custodian and <abbr title="Government Digital Service">GDS</abbr> will agree how the register will be maintained after it’s been published. They’ll also start finding and removing other lists of information that duplicate or contradict what’s in the register.</p>

		<p>At this stage, the register will be in ‘alpha’.</p>

		<h3 class="heading-small" id="meet-operational-standards">7. Meet operational standards</h3>

		<p>The custodian and <abbr title="Government Digital Service">GDS</abbr> will agree how the register will be updated and hosted. <abbr title="Government Digital Service">GDS</abbr> will start to develop a tool for the custodian to help them update the register.</p>

		<h3 class="heading-small" id="meet-technical-standards">8. Meet technical standards</h3>

		<p>The register must meet the technical standards set out in <abbr title="Government Digital Service">GDS</abbr>’s specification.</p>

		<p>If the register is being hosted by your organisation, the custodian will check these standards are being met.</p>

		<h3 class="heading-small" id="find-duplicate-lists">9. Find duplicate lists</h3>

		<p>The custodian must find any lists published elsewhere (such as on <a rel="external" href="https://data.gov.uk/">data.gov.uk</a> or GOV.UK) that duplicate or contradict the information in the register.</p>

		<h2 class="heading-medium" id="publishing-register">Publishing the register</h2>

		<p>The custodian will be able to revise the register before it’s published by <abbr title="Government Digital Service">GDS</abbr>. The register will now be in ‘beta’ and service teams can use it to build digital services.</p>

		<h3 class="heading-small" id="review-feedback-so-far">10. Review feedback so far</h3>

		<p>The custodian will be able to make changes to the register based on any feedback they’ve already received.</p>

		<h3 class="heading-small" id="remove-duplicate-lists">11. Remove duplicate lists</h3>

		<p>The custodian and <abbr title="Government Digital Service">GDS</abbr> will remove any lists that duplicate or contradict the information in the register.</p>

		<p>They’ll be unpublished and redirected to the register. The register will become the only source of this data available.</p>

		<h2 class="heading-medium" id="after-the-register-has-been-published">After the register has been published</h2>

		<p>The custodian will continue to update the register as and when the data within it changes. They’ll also make sure they continue to meet the operational and technical standards.</p>


	
		</div>
	</div>
</div> 

</main>

{% endblock %}