{% extends "_layouts/govuk-registers.html" %}

{% set section = "about" %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Working with one reliable and current source of data</h1>

        <p class="lede"> 
        Registers are lists of information. Each register is the most reliable list of its kind.
        </p>
        
        <a class="button button-start" href="https://payments:team@pay-staff-tool-2.herokuapp.com/create-account" role="button">
          Try it today
        </a>
        
      </div>
    </div>
  </div>
</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds"> 

          <h2 class="heading-large" id="1">What resisters are</h2>

          <p>Registers are lists of information. Each register is the most reliable list of its kind. For example, the Foreign and Commonwealth Office’s (FCO’s) <a rel ="external" href="https://country.register.gov.uk/">country register</a> is the most accurate and up-to-date list of countries available.</p>

          <p>Each register is looked after by one person, known as the ‘custodian’. The custodian is from the organisation responsible for the information in the register. They make sure the register is kept up to date.</p>     
    </div>
  </div>
          
          <hr class="m0">

  <div class="grid-row">
    <div class="column-two-thirds"> 

          <h2 class="heading-large" id="2">The benefits of registers</h2>

          <p>If you work on a service team, <a href="https://www.gov.uk/guidance/using-registers-to-build-a-service">using a register</a> will mean you’re only ever working with one reliable and current source of data.</p>

          <p>Other sources (such as a statistical report) might not be properly looked after. They can be out of date or unpublished at any time.</p>

          <p>This can affect your service and stop it working the way it should for your users.</p>

          <p>Using a register instead will mean you can concentrate on building your service rather than checking if the data you’re using is still accurate.</p>

          <p>Registers can also help you if you collect, manage or store data for your organisation.</p>

          <p>You only publish data in one place if you use a register, which means you won’t need to update multiple lists and datasets whenever something changes.</p>
    </div>
  </div>
     
          <hr class="m0">
  
  <div class="grid-row">
      <div class="column-two-thirds">       

          <h2 class="heading-large" id="3">Using a register</h2>

            <p>You can use an application programming interface (API) to automatically pull data from a register into your service. Doing this will mean you’ll always have access to the most recent version of the data in the register.</p>

            <p>The data is available in a number of different formats. You can:</p>

            <ul class="list list-bullet">
              <li>use it as JSON if you’re a developer</li>
              <li>download it as a CSV file if you work with spreadsheets</li>
              <li>download it as an RDF file if you need to link it to another register</li>
            </ul>

      </div>

      <div class="column-one-third supporting">
          <h3 class="heading-medium" id="4">Creating a register</h3>
          <p class="">You&rsquo;ll need to work with Government Digital Service (GDS) if you want to <a href="https://www.gov.uk/guidance/creating-a-register">create a register</a>.</p>

          <p class="">We&rsquo;re currently working with several government departments and agencies to develop their registers, including FCO, Department for Education and Department for Communities and Local Government.</p>
      </div>
  </div>

      <!-- <hr class="m0"> -->

<!--   <div class="grid-row">
  <div class="column-one-third">
    <h2 class="heading-medium">Contact</h2>
    <ul class="list">
      <li><a href="/feedback">Support and feedback</a></li>
      <li><a href="https://ukgovernmentdigital.slack.com/messages/govuk-notify">Chat with the Notify team</a></li>
    </ul>
  </div>
  <div class="column-one-third">
    <h2 class="heading-medium">Help</h2>
    <ul class="list">
      <li><a href="/terms">Terms of use</a></li>
      <li><a href="/trial-mode">Trial mode</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/delivery-and-failure">Delivery and failure</a></li>
    </ul>
  </div>
  <div class="column-one-third">
    <h2 class="heading-medium">API documentation</h2>
    <ul class="list">           
      <li><a href="documentation.html#installation">Java client</a></li>
      <li><a href="documentation.html#installation10">Node JS client</a></li>
      <li><a href="documentation.html#php-client">PHP client</a></li> 
      <li><a href="documentation.html#installation20">Python client</a></li>
      <li><a href="documentation.html#installation26">Ruby client</a></li>  
    </ul>
  </div>
</div> -->


</main>

{% endblock %}