{% extends "_layouts/govuk-registers.html" %}

{% set section = "using-registers" %}

{% block content %}

<main id="content" class="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="../govuk-service-manual/data.html">Government Data</a>
    </li>
    <li>
        <a href="index.html">Registers</a>
    </li>
    <li class="active">
        <a href="using-registers.html">Using Registers</a>
    </li>
  </ol>
</div>




<div class="grid-row">
    <div class="column-one-third">

		<nav class="subnav">
			<ul class="">
				<li><a href="available-registers">Available registers</a></li>
				<li class="active">Popular combinations</li>
				<li><a href="creating-a-register">Creating a register</a></li>
				<li><a href="becoming-a-custodian">Becoming a custodian</a></li>
			</ul>
		</nav>



	</div>

	<div class="column-two-thirds">
    
		<h1 class="heading-large">Popular combinations</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis tempus diam, non fermentum purus. Phasellus tristique, nibh eget dignissim sodales, urna enim venenatis ipsum, non malesuada elit nibh et enim. Vestibulum congue vehicula ante, id lu ut.</p>

	
		</div>
	</div>
</div> 

</main>

{% endblock %}