{% extends "_layouts/govuk-prototype-kit.html" %}

{% set section = "about" %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Rapid protoyping for <br>UK government services</h1>

        <p class="lede"> 
        The GOV.UK Prototype Kit is the fastest way to create HTML prototypes of UK goverment services
        </p>

        <a class="button button-start" href="#" role="button">Download v3 now</a>

        <p class="button-hint">
        <a href="">Download other versions</a>
        </p>

      </div>
    </div>
  </div>
</div>
<main id="content" role="main">


</main>

{% endblock %}