// Footer nav for product pages


        
    nav.footer {
        
        @media screen and (min-width: 769px) { 
            display: none;
        }

        @media screen and (max-width: 768px) {    
            
            margin-bottom: $gutter*2;
            padding-top: $gutter/2;

            h3 {
                display: block;
                padding-bottom: em(5);
                margin-top: 0;
            }

            ul {
                list-style: none;
                // border-top: 1px solid $grey-2;
            
                li {

                    a {
                        display: block;
                        padding: 10px 0;
                        border-bottom: 1px solid $grey-2;
                        text-decoration: none;
                    }

                    ul {
                        padding-left: $gutter/2;
                        margin-bottom: $gutter/4;
                        display: none;
                    }

                }

            }
        }

    }

