{% extends "_layouts/layout.html" %}

{% set productName = "Platform as a Service" %}

{% set homepage_url = "/govuk-paas-2/" %}

{% set phase = "beta" %}

{# Product nav URLs and link text #}
{% set navItems = [
  ['index', 'About'],
  ['features', 'Features'],
  ['https://government-paas-developer-docs.readthedocs.io/en/latest/', 'Documentation'],
  ['support', 'Support']
] %}

{% block footer_top %}
<nav class="footer" id="mobile-nav">

	<h3 class="heading-medium">Platform as a Service</h3>

	<ul class="">
		<li><a href="index.html">About</a></li>
		<li><a href="features.html">Features</a>
			<ul>
				<li><a href="#">Roadmap</a></li>
			</ul>
		</li>
		<li><a href="https://government-paas-developer-docs.readthedocs.io/en/latest/">Documentation</a></li>
		<li><a href="support.html">Support</a></li>
	</ul>

</nav>

{% endblock %}