{% extends "_layouts/govuk-pay.html" %}

{% set section = "features" %}

{% block content %}

<main id="content" class="content" role="main">
<div class="breadcrumbs">
  <ol>
    <li>
        <a href="../govuk-service-manual/index#govuk-products">Components</a>
    </li>
    <li>
        <a href="index.html">GOV.UK Pay</a>
    </li>
    <li class="active">
        <a href="features.html">Features and roadmap</a>
    </li>
  </ol>
</div>

<div class="grid-row">
    <div class="column-one-third">

        <nav class="subnav">
            <ul class="">
                <li class="active"><a href="features">Features</a></li>
                <li><a href="roadmap">Roadmap</a></li>
            </ul>
        </nav>
    </div>

    <div class="column-two-thirds">
        <h1 class="heading-large">Top features</h1>
            <p>GOV.UK Pay uses established Payment Service Providers to deliver your payments service.</p>

            <p>At no additional cost, we already offer:</p>
            <h2 class="heading-small">Payment management</h3>
                <ul class="list list-bullet">
                    <li>take online card payments</li>
                    <li>issue refunds and email receipts</li>
                    <li>create reports and search transactions</li>
                    <li>integrate with existing case management workflows</li>
                    <li>offer an end-to-end GOV.UK experience</li>
                </ul> 

            <h2 class="heading-small">Digital standards</h3>
                <ul class="list list-bullet">
                    <li>meet the Digital Service Standard</li>
                    <li>meet accessibility standards</li>
                    <li>stay secure with full Payment Card Industry Data Security Standard compliance</li>
                    <li>use our modern RESTful API for straightforward integration</li>
                </ul> 

            <h2 class="heading-small">Technical support</h3>
                <ul class="list list-bullet">
                    <li>get 24/7 support from the team at Government Digital Service</li>
                    <li>read clear documentation on how to integrate with GOV.UK&nbsp;Pay</li>
                    <li>use a sandbox (test) environment to prototype and try with your service</li>
                    <li>switch PSPs without additional technical work (technical integration is provider-agnostic)</li>
                </ul>         
            <h2 class="heading-medium">Queries and suggestions</h2>
            <p>If you want to find out more about these features, or have some needs that GOV.UK Pay isn’t yet meeting, please get in touch with us by emailing <a href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk">govuk-pay-support@digital.cabinet-office.gov.uk</a> or chat with us in our <a href="">cross-government Slack channel</a>.</p>

            <!-- <h2 class="heading-medium">Roadmap</h2>

            <p>Here’s a list of the new functionality we’re planning to offer through GOV.UK Pay over the next 6 to 9 months.</p>
            
            <p class="panel panel-border-wide">This roadmap is a only a guide and may change from month to month.</p>

            <h3 class="heading-small">June 2017</h3>
                <ul class="list list-bullet">
                    <li>Self service account creation and team management</li>
                    <li>Support for Barclays online card payments (ePDQ)</li>
                    <li>Disaster recovery within 1 hour with an additional Amazon Web Services region</li>
                </ul> 
            <h3 class="heading-small">July to September 2017</h3>
                <ul class="list list-bullet">
                    <li>Improved refund-related reporting</li>
                    <li>Reporting for settlement of funds to merchant (business) bank account</li>
                    <li>Basic aggregate reporting dashboards for payments</li>
                    <li>Support for Maestro and Visa Electron</li>
                </ul> 
            <h3 class="heading-small">September 2017 onwards</h3>
                <ul class="list list-bullet">
                    <li>Include payment statuses</li>
                    <li>Foreign currency support</li>
                    <li>Delayed capture (more efficient security process)</li>
                    <li>Refund confirmation emails</li>
                    <li>Foreign language support</li>
                    <li>Recurring card payments</li>
                </ul>
 -->
    </div>  
</div>
 

</main>

{% endblock %}