{% extends "_layouts/govuk-pay.html" %}

{% set section = "features" %}

{% block content %}

<main id="content" class="content" role="main">
<div class="breadcrumbs">
  <ol>
    <li>
        <a href="../govuk-service-manual/index#govuk-products">Components</a>
    </li>
    <li>
        <a href="index.html">GOV.UK Pay</a>
    </li>
    <li class="active">
        <a href="features.html">Features and roadmap</a>
    </li>
  </ol>
</div>

<div class="grid-row">
    <!-- <div class="column-one-third">

        <nav class="subnav">
            <ul class="">
                <li class="active"><a href="features">Features</a></li>
                <li><a href="roadmap">Roadmap</a></li>
            </ul>
        </nav>
    </div> -->

    <div class="column-two-thirds">
        <h1 class="heading-large">Roadmap</h1>

        <!-- <h2 class="heading-medium">GOV.UK Pay’s features let you:</h2>
            <ul class="list list-bullet">
                <li>take and process card payments online and issue refunds</li>
                <li>search for payments, filter results and generate reports</li>
                <li>email receipts with GOV.UK Notify</li>
            </ul> 

        <p>GOV.UK Pay uses established providers to deliver your payments service. In addition, we offer:</p>
            <ul class="list list-bullet">
                <li>payment pages branded with GOV.UK, providing a seamless user experience</li>
                <li>a secure process that is fully PCI DSS compliant</li>
                <li>no additional fees for the GOV.UK&nbsp;Pay service</li>
                <li>24/7 support from the multidisciplinary team at Government Digital Service</li>
                <li>a sandbox (test) environment to prototype and try with your service</li>
                <li>accessible payment pages designed around real users</li>
            </ul>     
 -->

        <!-- <h2 class="heading-medium">Roadmap for GOV.UK&nbsp;Pay</h2> -->
            <p>Here’s a list of the new functionality we’re planning to offer through GOV.UK&nbsp;Pay over the next 6 to 9 months.</p>

            <p class="panel panel-border-wide">This roadmap is a only a guide and may change from month to month.</p>

            <p>If you want to find out more about these features, or have some needs that GOV.UK Pay isn’t yet meeting, please get in touch with us by emailing <a href="mailto:govuk-pay-support@digital.cabinet-office.gov.uk">govuk-pay-support@digital.cabinet-office.gov.uk</a> or chat with us in our <a href="">cross-government Slack channel</a>.</p>

            <h3 class="heading-medium">June 2017</h3>
                <ul class="list list-bullet">
                    <li>Self service account creation and team management</li>
                    <li>Support for Barclays ePDQ</li>
                    <li>Add an additional AWS region for disaster recovery within 1 hour</li>
                </ul> 
            <h3 class="heading-medium">July to September 2017</h3>
                <ul class="list list-bullet">
                    <li>Improved refund-related reporting</li>
                    <li>Reporting for settlement of funds to merchant bank account</li>
                    <li>Basic aggregate reporting dashboards for payments</li>
                    <li>Support for Maestro and Visa Electron</li>
                </ul> 
            <h3 class="heading-medium">September 2017 onwards</h3>
                <ul class="list list-bullet">
                    <li>Include payment statuses in redirect to partner services</li>
                    <li>Foreign currency support</li>
                    <li>Delayed capture</li>
                    <li>Refund confirmation emails</li>
                    <li>Foreign language support</li>
                    <li>Recurring card payments</li>
                </ul>

        <!-- <h2 class="heading-medium">Requested Features</h2>

            <p>Below are the features we’ve been asked about but are not planning to develop right now, and why.</p>

            <h3 class="heading-small">Docker</h3>
                <p>Cloud Foundry supports pushing a Docker image as an application. This feature is not currently enabled on the Government PaaS because allowing deployment from Docker images, where the root filesystem is controlled by the tenant, raises additional security concerns: <a href="https://github.com/cloudfoundry/diego-design-notes/blob/c59e475020a22e244c6074f89c45b55f7b1e2867/docker-support.md#docker-in-a-multi-tenant-world">see this note from the CF developers</a> for more details. We hope to enable support for Docker images in the future. If you would like to be able to push Docker images, please <a href="/govuk-paas-2/support">contact our support team</a>, providing details of why you want to use it.
                </p> -->

    </div>  
</div>
 

</main>

{% endblock %}