{% extends "_layouts/govuk-pay.html" %}

{% set section = "getstarted" %}

{% block content %}

<main id="content" class="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="../govuk-service-manual/index#govuk-products">Components</a>
    </li>
    <li>
        <a href="index.html">GOV.UK&nbsp;Pay</a>
    </li>
    <li class="active">
        Get Started
    </li>
  </ol>
</div>
<div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
        Get started
      </h1>

      <ol class="task-list">
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Check GOV.UK Pay is right for you
          </h2>
          <div class="task-list-items">
            <p>Review <a href="index">GOV.UK Pay’s top features</a> and <a href="roadmap">roadmap</a> and decide if it meets your service’s needs.</p>
            <p>If you are a central government organisation with a new or existing digital service and want to take card payments online then GOV.UK Pay should be suitable for you.</p>
          </div>  
    
        <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Create an account
        </h2>
        <div class="task-list-items">
            <p>Test GOV.UK Pay for yourself by <a href="https://pay-staff-tool-2.herokuapp.com/create-account">creating an account</a>.</p>
            <p>You can explore the test environment, and use the same account details when you’re ready to go live.</p> 
        </div>       

        <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Share with your team
        </h2>
        <div class="task-list-items">
            <p>Share information about GOV.UK Pay with your broader team. Managing payments usually involves people from a number of different teams: digital, operational delivery and finance, for example.</p>

            <p> You can invite team members from your GOV.UK Pay Dashboard, and you may want to send our <a href="documentation">documentation</a> to your technical and finance teams.</p> 
        </div>  

        <h2 class="task-list-section">
            <span class="task-list-section-number">4. </span> Prototype and test
        </h2>
        <div class="task-list-items">
            <p>Prototype and test the integration of your service with GOV.UK Pay. You’ll find clear instructions in our <a href="documentation">documentation</a>.</p> 
        </div>     

        <h2 class="task-list-section">
            <span class="task-list-section-number">5. </span> Contract with a Payment Service Provider
        </h2>
        <div class="task-list-items">
            <p>You will need to have a contract for Payment Gateway and Merchant Acquiring services with a Payment Service Provider, who will process the payments taken using GOV.UK Pay. </p>

            <p>If you don’t have one already, then avoid any procurement work by signing up with the Government Banking Service. They have an existing contract that’s open to central government and health sector organisations.</p> 
            
            <p><a href="support">Contact us</a> if you’d like more advice on contracting.</p>
            <details>
              <summary><span class="summary">Sign up with the Government Banking Service</span></summary>

              <div class="panel panel-border-narrow">
                <p>
                  You’ll need to email <a href="helpdesk.gbs@hmrc.gsi.gov.uk">helpdesk.gbs@hmrc.gsi.gov.uk</a> attaching completed versions of the following forms:
                </p>
                <ul class="list list-bullet">
                    <li>Merchant Acquiring - New Application</li>
                    <li>Worldpay Gateway Setup Form</li>
                    <li>Worldpay Direct Debit form</li>
                </ul>
              </div>

            </details>
            
        </div> 

        <h2 class="task-list-section">
            <span class="task-list-section-number">6. </span> Configure your Payment Service Provider and GOV.UK&nbsp;Pay
        </h2>
        <div class="task-list-items">
            <p>You will need to make sure that your underlying Payment Service Provider is set up to work with GOV.UK Pay. We have instructions for <a href="#">configuring your WorldPay account</a> in our documentation. You’ll also need to choose your settings in the <a href="#">GOV.UK Pay admin tool.</a></p> 
        </div>

        <h2 class="task-list-section">
            <span class="task-list-section-number">7. </span> Agreements and go live
        </h2>
        <div class="task-list-items">
            <p><a href="support">Contact us</a> to switch to a live account and start taking payments. Your organisation needs to sign our <a href="#">Memorandum of Understanding and your team needs to agree to our Terms of Use</a> before you can go live.</p> 
        </div>                

      </ol>


    </div>
  </div>
 

</main>

{% endblock %}