{% extends "_layouts/govuk-pay.html" %}

{% set section = "index" %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">


      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Components</a>
            </li>
            <li class="active">
                GOV.UK&nbsp;Pay
            </li>
          </ol>
        </div>
      </div>

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Take and process payments</h1>

        <p class="lede"> 
        GOV.UK Pay is a secure payment service that is easy to integrate with and designed to meet the Digital Service Standard. Give your users a trusted GOV.UK-branded payment experience. 
        </p>

        <p><a class="button button-start" href="/govuk-pay/getstarted" role="button">
          See how to get started</a></p>

      </div>
      <div class="column-one-third product-overview-intro-image">
        <img class= "top-image" src="/public/images/pay-top-image.png" alt"">
      </div>
    </div>
  </div>-
</div>

<main id="content" role="main">

  <div class="grid-row">
      <div class="column-one-half">
      <h2 class="heading-medium" id="3">You can use GOV.UK Pay if you want to:</h2>
          <ul class="list list-bullet">
            <li>take online card payments and issue refunds</li>
            <li>ensure your payment experience meets the Digital Service Standard</li>
            <li>provide an end-to-end GOV.UK experience</li>
            <li>use payment processes that are fully PCI DSS compliant</li>
          </ul>
          
          <p><a href="/govuk-pay/features">See GOV.UK Pay’s features and roadmap</a></p>
      </div>

      <div class="column-one-half">
        <div class="video-wrapper video-container sample-image">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/DlohjTkvFoY" frameborder="0" allowfullscreen></iframe></div>
          <div class="transcript">
            <details>
              <summary class="font-xsmall"><span class="summary">Transcript of GOV.UK Pay</span></summary>
              <p class="font-xsmall">We want to make it easier for citizens to pay for government services. It’s painful enough that you have to pay for them at least the choice of payment types and then the, sort of, user experience while you go through the payment process should be as convenient as possible.</p> 
              <p class="font-xsmall">And then there's the second part to it which is the part for civil servants or people that work in government where we want to make it easier for them to do all the things that are connected to receiving payments. They should just be as slick, easy and frankly as cheap as possible. Right now we basically have, if you look at central government, hundreds of direct integrations from government services straight into payment providers which makes it very hard to launch, change or to make changes across government. If you have a payments platform you plug all of them into the platform, make one change across the platform and then just switch them on across government.</p>
              <p class="font-xsmall">It will make it easier, more convenient for citizens to pay government, make it easier to launch new government services and it will make it easier to do the reconciliation and user support and refunds. And then we can launch new innovative stuff quite quickly and easily across government. So here we do it once, we do it right, we do it securely, we do it with a good user experience and at a low cost.</p>
            </details>
        </div>
      </div>
  </div>

  <div class="grid-row">
    
    <div class="column-full">
        <div class="section-border-top">
        </div>
    </div>

    <div class="column-half">
      <h2 class="heading-medium" id="3">Teams running services and managing payments will get:</h2>
        <ul class="list list-bullet">
          <!-- <li>accessible GOV.UK-branded payment pages, designed to meet user needs</li> -->
          <li>an easy-to-use admin tool designed for efficient payment administration</li>
          <!-- <li>guidance on using GOV.UK Pay to process payments efficiently</li> -->
          <li>easy Payment Service Provider switching without additional technical work</li>
          <li>24/7 support from the multidisciplinary team at Government Digital Service</li>

        </ul>
    </div>

    <div class="column-half">
      <div class="team-image">
        <img src="/public/images/transaction-screen.png">
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="section-border-top">
      </div>
    </div>

    <div class="column-half">
      <h2 class="heading-medium" id="3">You can generate reports and issue refunds</h2>
    </div>
    <div class="column-half">
      <div class="team-image">
          <img src="/public/images/refund-screens.png">
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="section-border-top">
      </div>
    </div>
    <div class="column-one-half">
      <h2 class="heading-medium" id="3">Users will see responsive payment pages</h2>
      <p>Designed to meet user needs, the payment pages give helpful inline error messages and work great on mobile.</p>
    </div>
    <div class="column-half">
      <div class="team-image">
          <img src="/public/images/error-page.png">
      </div>
    </div>
  </div>

  <div class="grid-row">
    
    <div class="column-full">
        <div class="section-border-top">
        </div>
    </div>

    <div class="column-half">
      <h2 class="heading-medium" id="3">Teams building services will get:</h2>
        <ul class="list list-bullet">
          <li>clear documentation on how to integrate with GOV.UK&nbsp;Pay</li>
          <li>a modern RESTful API for payment initiation and administration</li>
          <li>a test environment to prototype and try with your service</li>
        </ul>
        <p><a href="/govuk-pay/documentation">See how GOV.UK&nbsp;Pay works in our documentation</a></p>
    </div>

    <div class="column-half">
      <div class="team-image">
                  <img src="/public/images/docs-diagram.svg">
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="section-border-top">
      </div>
    </div>

    <div class="column-half">
      <h2 class="heading-medium" id="6">Find out more about GOV.UK Pay</h2>
        <p><a href="/govuk-pay/support">Contact the team</a> to ask a question. Follow our <a href="getstarted">Guide to getting started</a> to create an account.</p>

        <p>GOV.UK Pay is built and supported 24/7 by a full time team at the Government Digital Service. The service manager is Till Wirth.
        </p> 
      </div>

        <div class="column-half">
            <div class="team-image">
                  <img src="/public/images/pay-team-2.jpg">
            </div>
        </div>
      </div>

    <div class="grid-row">
      <div class="column-full">
        <div class="section-border-top">
      </div>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium" id="3">Organisations already using GOV.UK Pay</h2>
      
      <img src="/public/images/org-logos-pay-1.jpg">
      
      <div class="panel panel-border-wide">
        <p class="">"I’ve just had the first view of [GOV.UK Pay] integrated with our service. It is a really good product. We have integrated it in just 2 weeks which is astonishing and really speaks volumes about [how] well you have set the service up..."</p>
        <p>– Service manager; UK Visas and Immigration, Home Office</p>
      </div>

      <p>GOV.UK Pay is not yet available to local authorities.</p>
    </div>

</main>

{% endblock %}