{% extends "_layouts/govuk-pay.html" %}

{% set section = "index" %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">


      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Components</a>
            </li>
            <li class="active">
                GOV.UK&nbsp;Pay
            </li>
          </ol>
        </div>
      </div>

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Take and process payments</h1>

        <p class="lede"> 
        GOV.UK Pay is a secure payment service that is easy to integrate with and designed to meet the Digital Service Standard. Give your users a trusted GOV.UK-branded payment experience. 
        </p>

        <p><a class="button button-start" href="/govuk-pay/getstarted" role="button">
          See how to get started</a></p>

      </div>
      <div class="column-one-third product-overview-intro-image">
        <img class= "top-image" src="/public/images/pay-top-image.png" alt"">
      </div>
    </div>
  </div>-
</div>

<main id="content" role="main">

  <div class="grid-row">
      <div class="column-one-half">
      <h2 class="heading-medium" id="3">You can use GOV.UK Pay if you want to:</h2>
          <ul class="list list-bullet">
            <li>take online card payments and issue refunds</li>
            <li>ensure your payment experience meets the Digital Service Standard</li>
            <li>provide an end-to-end GOV.UK experience</li>
            <li>use payment processes that are fully PCI DSS compliant</li>
            <li>get expert payment advice from Government Digital Service</li>
          </ul>
          
          <p><a href="/govuk-pay/roadmap">See GOV.UK Pay’s roadmap</a></p>
      </div>

      <div class="column-one-half">
        <div class="video-wrapper video-container sample-image">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/DlohjTkvFoY" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
  </div>

  <div class="grid-row">
    
    <div class="column-full">
        <div class="section-border-top">
        </div>
    </div>

    <div class="column-half">
      <h2 class="heading-medium" id="3">Teams running services and managing payments will get:</h2>
        <ul class="list list-bullet">
          <!-- <li>accessible GOV.UK-branded payment pages, designed to meet user needs</li> -->
          <li>an easy-to-use admin tool designed for efficient payment administration</li>
          <!-- <li>guidance on using GOV.UK Pay to process payments efficiently</li> -->
          <li>easy Payment Service Provider switching without additional technical work</li>
          <li>24/7 support from the multidisciplinary team at Government Digital Service</li>

        </ul>
    </div>

    <div class="column-half">
      <div class="team-image">
        <img src="/public/images/dashboard-screen.png">
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="section-border-top">
      </div>
    </div>
    <div class="column-one-half">
      <h2 class="heading-medium" id="3">You can generate reports and issue refunds</h2><br>
    </div>
   </div> 
  <div class="grid-row">
    <div class="column-one-half">
      <div class="tour-image">
          <img src="/public/images/transaction-screen.png">
      </div>
    </div>
    <div class="column-one-half">
      <div class="tour-image">
          <img src="/public/images/refund-screens.png">
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="section-border-top">
      </div>
    </div>
    <div class="column-one-half">
      <h2 class="heading-medium" id="3">Here’s what users see when they pay for your service</h2>
      <p>Accessible GOV.UK-branded payment pages, designed to meet user needs</p>
    </div>
    <div class="column-half">
      <div class="team-image">
          <img src="/public/images/error-page.png">
      </div>
    </div>
  </div>

  <div class="grid-row">
    
    <div class="column-full">
        <div class="section-border-top">
        </div>
    </div>

    <div class="column-half">
      <h2 class="heading-medium" id="3">Teams building services will get:</h2>
        <ul class="list list-bullet">
          <li>clear documentation on how to integrate with GOV.UK&nbsp;Pay</li>
          <li>a modern RESTful API for payment initiation and administration</li>
          <li>a test environment to prototype and try with your service</li>
        </ul>
        <p><a href="/govuk-pay/documentation">See how GOV.UK&nbsp;Pay works in our documentation</a></p>
    </div>

    <div class="column-half">
      <div class="team-image">
                  <img src="/public/images/docs-screen.png">
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="section-border-top">
      </div>
    </div>

    <div class="column-half">
      <h2 class="heading-medium" id="6">Hear more about GOV.UK Pay</h2>
        <p><a href="/govuk-pay/support">Contact the team</a> to ask a question. Follow our <a href="getstarted">Guide to getting started</a> to create an account.</p>

        <p>GOV.UK Pay is built and supported 24/7 by a full time team at the Government Digital Service. The service manager is Till Wirth.
        </p> 
      </div>

        <div class="column-half">
            <div class="team-image">
                  <img src="/public/images/pay-team-2.jpg">
            </div>
        </div>
      </div>

    <div class="grid-row">
      <div class="column-full">
        <div class="section-border-top">
      </div>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium" id="3">Organisations already using GOV.UK Pay</h2>
      
      <img src="/public/images/org-logos-pay-1.jpg">
      
      <div class="panel panel-border-wide">
        <p class="">"I’ve just had the first view of [GOV.UK Pay] integrated with our service. It is a really good product. We have integrated it in just 2 weeks which is astonishing and really speaks volumes about [how] well you have set the service up..."</p>
        <p>– Service manager; UK Visas and Immigration, Home Office</p>
      </div>

      

      <p><a href="#">See what people are saying</a></p>
      <p>GOV.UK Pay is not yet available to local authorities.</p>
    </div>

</main>

{% endblock %}