{% extends "_layouts/govuk-pay.html" %}

{% set section = "features" %}

{% block content %}

<main id="content" class="content" role="main">
<div class="breadcrumbs">
  <ol>
    <li>
        <a href="../govuk-service-manual/index#govuk-products">Components</a>
    </li>
    <li>
        <a href="index.html">GOV.UK Pay</a>
    </li>
    <li>
        <a href="features.html">Features</a>
    </li>
    <li class="active">
        Roadmap
    </li>
  </ol>
</div>

<div class="grid-row">
    <div class="column-one-third">

        <nav class="subnav">
            <ul class="">
                <li><a href="features">Features</a></li>
                <li class="active"><a href="roadmap">Roadmap</a></li>
            </ul>
        </nav>
    </div>

    <div class="column-two-thirds">
        <h1 class="heading-large">Roadmap for GOV.UK Pay</h1>
            <p>We want to build the Pay to be useful for service teams across government. This roadmap is an indication of what we’re planning to build in the near, medium and long-term based on what users have told us they need.</p>

            <p>If you would like to find out more about these plans, or you have feedback on whether or not these features are useful for you, please <a href="/govuk-pay/support">get in touch</a>.</p>

            <p>To see the features and benefits thay GOV.UK Pay offers right now, see our <a href="/govuk-pay/features">product page</a>.</p>

        <h2 class="heading-medium">Roadmap</h3>
            <p> This roadmap is for informational purposes only and may be affected by changing priorities. You shouldn’t rely on this information for major purchasing or planning purposes.
            </p>

            <h3 class="heading-small">Next 1 to 3 months</h3>
                <ul class="list list-bullet">
                    <li>Information assurance for handling sensitive data</li>
                    <li>Redis as a backing service</li>
                    <li>SSH access to containers</li>
                </ul> 
            <h3 class="heading-small">3 to 6 months</h3>
                <ul class="list list-bullet">
                    <li>Elasticsearch as a backing service</li>
                    <li>Self Service SSL certification management</li>
                    <li>MongoDB as a backing service</li>
                    <li>Self Service user management</li>
                    <li>Enhanced backing service monitoring</li>
                </ul> 
            <h3 class="heading-small">6 to 12 months</h3>
                <ul class="list list-bullet">
                    <li>Private networking for applications</li>
                    <li>User application monitoring</li>
                </ul>

        <h2 class="heading-medium">Requested Features</h2>

            <p>Below are the features we’ve been asked about but are not planning to develop right now, and why.</p>

            <h3 class="heading-small">Docker</h3>
                <p>Cloud Foundry supports pushing a Docker image as an application. This feature is not currently enabled on the Government PaaS because allowing deployment from Docker images, where the root filesystem is controlled by the tenant, raises additional security concerns: <a href="https://github.com/cloudfoundry/diego-design-notes/blob/c59e475020a22e244c6074f89c45b55f7b1e2867/docker-support.md#docker-in-a-multi-tenant-world">see this note from the CF developers</a> for more details. We hope to enable support for Docker images in the future. If you would like to be able to push Docker images, please <a href="/govuk-paas-2/support">contact our support team</a>, providing details of why you want to use it.
                </p>

    </div>  
</div>
 

</main>

{% endblock %}