{% extends "_layouts/govuk-pay.html" %}

{% set section = "signin" %}

{% block content %}

<main id="content" class="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="../govuk-service-manual/index#govuk-products">Products</a>
    </li>
    <li>
        <a href="index.html">Notify</a>
    </li>
    <li class="active">
        Sign In
    </li>
  </ol>
</div>

<h1 class="heading-large">Sign in</h1>
 
 <p>Pretend this is a form</p>

 <a href="signed-in.html">Sign In</a>

</main>

{% endblock %}