{% extends "_layouts/govuk-pay.html" %}

{% set section = "support" %}

{% block content %}

<main id="content" class="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="../govuk-service-manual/index#govuk-products">Components</a>
    </li>
    <li>
        <a href="index.html">Pay</a>
    </li>
    <li class="active">
        Support
    </li>
  </ol>
</div>


<div class="grid-row"> 
  <div class="column-two-thirds support">  
        <h1 class="heading-large">Support</h1>

        <form action"#" method=""">
          <div class="form-group">
            <fieldset>

              <legend>
                <h2 class="heading-medium">How can we help you?</h2>
              </legend>

              <div class="multiple-choice">
                <input id="radio-1" type="radio" name="radio-group" value="Report a problem">
                <label for="radio-1">Report a problem</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-2" type="radio" name="radio-group" value="Ask a question or give feedback">
                <label for="radio-2">Ask a question or give feedback</label>
              </div>

            </fieldset>
          </div>
          <div class="form-group">
            <input class="button" type="submit" value="Continue">
          </div>

        </form>
  </div>      
  <div class="column-two-thirds">
     <h2 class="heading-medium ">Support process</h2>
       <p>If you have a problem, first check for known issues on the <a href="">GOV.UK&nbsp;Pay system status page</a>. Subscribe to get alerts on the progress of any listed issue.</p>

       <h3 class="heading-small">During office hours</h3>
       <p>Our office hours are 9.30am to 5.30pm, Monday to Friday. You can email us at <a href="">govuk-pay-support@digital.cabinet-office.gov.uk</a></p>

       <p>Or chat with us on our cross-government Slack channel: <a href="">https://ukgovernmentdigital.slack.com/messages/govuk-pay</a></p>

       <h3 class="heading-small">Out of hours support</h3>

       <p>We offer 24 hour online support for critical incidents affecting live production services. We have different response times depending on whether the problem you want to report is an emergency.</p>

       <p>It’s only an emergency if:</p>

       <ul class="list list-bullet">
         <li>no one in your team can log in</li>
         <li>...</li>
         <li>...</li>
       </ul>

       <p>We’ll reply within 30 minutes and give you hourly updates until the problem’s fixed.</p>

       <p>We’ll reply by the next working day for any other problems.</p>
  </div>      
</main>

{% endblock %}
