{% extends "_layouts/govuk-pay.html" %}

{% set section = "support" %}

{% block content %}

<main id="content" class="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="../govuk-service-manual/index#govuk-products">Components</a>
    </li>
    <li>
        <a href="index.html">Pay</a>
    </li>
    <li class="active">
        Contact
    </li>
  </ol>
</div>


<div class="grid-row">
  <div class="column-two-thirds">  
        <h1 class="heading-large">GOV.UK Pay contact</h1>
          <p>To learn more about GOV.UK Pay, contact the team at:<br><a href="#">govuk-pay-support@digital.cabinet-office.gov.uk</a> <!-- or chat with us in our <a href="">cross-government Slack channel</a> -->. </p><p>GOV.UK Pay is built and supported 24/7 by a full time team at the Government Digital Service. The service manager is Till Wirth.</p>

          <p>Follow our <a href="getstarted">Guide to getting started</a> to create an account.</p>


        <!-- <h2 class="heading-medium">Create an account</h2>
          <p>Test GOV.UK Pay for yourself by <a href="https://pay-staff-tool-2.herokuapp.com/create-account">creating an account</a>.</p>
            <p>You can explore the sandbox (test) environment, and use the same account details when you’re ready to go live.</p>  -->
        
        <h2 class="heading-medium">More information</h2>
        <p>See how to use GOV.UK Pay with our <a href="documentation">technical documentation</a>.</p>
    </div>
  </div>        


</main>

{% endblock %}