{% extends "_layouts/govuk-pay.html" %}

{% set section = "support" %}

{% block content %}

<main id="content" class="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="../govuk-service-manual/index#govuk-products">Components</a>
    </li>
    <li>
        <a href="index.html">Pay</a>
    </li>
    <li class="active">
        Support
    </li>
  </ol>
</div>


<div class="grid-row">
  <div class="column-two-thirds">  
        <h1 class="heading-large">GOV.UK Pay support</h1>
          <p>If you're interested in finding out more about GOV.UK Pay contact us at: <a href="#">govuk-pay-support@digital.cabinet-office.gov.uk</a>.</p>

          <p>Include the following information in your email:</p>
          <ul class="list list-bullet">
            <li>your name, email address and phone number</li>
            <li>your government organisation name</li>
            <li>a brief description of your service</li>
            <li>a link to your online service if you have one</li>
          </ul>
        
        <p>For more information about how to use GOV.UK Pay read our <a href="#">technical documentation</a>.</p>
    </div>
  </div>        


</main>

{% endblock %}