{% extends "_layouts/layout.html" %}

{% block header_class %}{% endblock %}

{% block page_title %}
  GOV.UK product page prototypes
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        GOV.UK product page prototypes
      </h1>

      <p>
        Prototypes of information and documentation pages for products delivered by the Government as a Platform and Services programmes in GDS.
      </p>

      <ul class="list">
      	<li><a href="govuk-pay">GOV.UK Pay</a></li>
        <li><a href="govuk-notify">GOV.UK Notify</a></li>
        <li><a href="govuk-verify">GOV.UK Verify</a></li>
        <li><a href="govuk-paas">GOV.UK Platform as a Service</a></li>
        <li><a href="govuk-service-manual">GOV.UK Service Manual</a></li>
        <li><a href="govuk-frontend">GOV.UK Frontend</a></li>
        <li><a href="govuk-prototype-kit">GOV.UK Prototype Kit</a></li>
        <li><a href="govuk-digital-marketplace">GOV.UK Digital Marketplace</a></li>
      </ul>

      <p>
        <a href="https://github.com/alphagov/govuk_product_page_prototypes">Download the prototype code on Github</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}


