{% extends "_layouts/layout.html" %}

{% block header_class %}{% endblock %}

{% block page_title %}
  GOV.UK product page prototypes
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        GOV.UK Service Manual and product page prototypes
      </h1>

      <h2 class="heading-medium">
        Service Manual Index
      </h2>

      <ul class="list">
        
        <li class="mb_20"><a href="govuk-service-manual/index">GOV.UK Service Manual (Variant D)</a></li>

        <li><a href="govuk-service-manual-a">GOV.UK Service Manual (Original Variant A)</a></li>
        <li><a href="govuk-service-manual-b">GOV.UK Service Manual (Original Variant B)</a></li>
        <li class=""><a href="govuk-service-manual/index-c">GOV.UK Service Manual (Variant C)</a></li>
        
        
      </ul>


      <!-- <h2 class="heading-medium">
        Product pages
      </h2>

      <ul class="list">
      	<li><a href="govuk-pay">GOV.UK Pay</a></li>
        <li><a href="govuk-notify">GOV.UK Notify</a></li>
        <li><a href="govuk-verify">GOV.UK Verify</a></li>

        <li><a href="govuk-paas-2">GOV.UK Platform as a Service</a></li>

      </ul>


      <ul class="list">

        <li><a href="govuk-frontend">GOV.UK Frontend</a></li>
        <li><a href="govuk-prototype-kit">GOV.UK Prototype Kit</a></li>
        <li><a href="govuk-digital-marketplace">GOV.UK Digital Marketplace</a></li>
        <li><a href="govuk-registers">GOV.UK Registers</a></li>
      </ul>
 -->

      <p>
        <a href="https://github.com/alphagov/govuk_product_page_prototypes">Download the prototype code on Github</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}


