{% extends "_layouts/layout.html" %}

{% block header_class %}{% endblock %}

{% block page_title %}
  GOV.UK products
{% endblock %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">
    <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="govuk-service-manual">Service Creation</a>
            </li>
            <li class="active">
                Products
            </li>
          </ol>
        </div>
      </div>

      <div class="column-two-thirds">

        <h1 class="heading-xlarge mb_0">Products to build and run services</h1>

      </div>
      
    </div>
  </div>
</div>


<main id="content" role="main">


<div class="grid-row">

    <div class="column-full">
      <h2 class="heading-large">GOV.UK products</h2>
    </div>

    <div class="column-one-third">
      <h4 class="heading-small"><a href="/govuk-notify">GOV.UK Notify</a></h4>
      <p>Send secure text messages, emails or letters to users</p>
    </div>

    <div class="column-one-third">
      <h4 class="heading-small"><a href="/govuk-pay">GOV.UK Pay</a></h4>
      <p>Make it simple to make payments online</p>
    </div>

    <div class="column-one-third">
      <h4 class="heading-small"><a href="/govuk-verify">GOV.UK Verify</a></h4>
      <p>Let users prove their identity online</p>
    </div>

</div>



<div class="grid-row">

    <div class="column-one-third">
      <h4 class="heading-small"><a href="/govuk-paas-2">GOV.UK PaaS</a></h4>
      <p>Quickly, simply deploy your service on a government hosted platform</p>
    </div>

    <div class="column-one-third">
      <h4 class="heading-small"><a href="https://governmentasaplatform.blog.gov.uk/2016/08/16/discovery-of-two-parts/">GOV.UK Single Sign On</a></h4>
      <p>Access to GOV.UK products and tools for public servants</p>
    </div>

</div>


<div class="grid-row">

    <div class="column-full">
      <h2 class="heading-large">Small components</h2>
    </div>

    <div class="column-one-third">
      <h4 class="heading-small"><a href="">Smaller Product</a></h4>
      <p>Let advisors talk to users through online messages</p>
    </div>

    <div class="column-one-third">
      <h4 class="heading-small"><a href="">Smaller Product</a></h4>
      <p>A lightweight plugin to collect signatures from touchscreen devices</p>
    </div>


</div>

      
</main>

{% endblock %}


