{% extends "_layouts/govuk-paas-2.html" %}

{% set section = "index" %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Products</a>
            </li>
            <li class="active">
                PaaS
            </li>
          </ol>
        </div>

      </div>

      <div class="column-two-thirds product-overview-intro-text">
        <h1 class="heading-xlarge">Deploy and run government applications</h1>
        <p class="lede"> 
        GOV.UK Platform as a Service (PaaS) is a quick, easy and cheap way to deploy and host government applications. The PaaS manages the platform infrastructure, so you can focus on building your digital services.</p>
        <a class="button button-start" href="getstarted.html" role="button">Ask for a trial account</a>
        </p>
        <p class="button-hint">You’ll be able to deploy test applications in a safe environment and test the features of the command line tool.</p>
      </div>
      <div class="column-one-third product-overview-intro-image">
        <img class= "top-image" src="/public/images/paas-top-image.png">
      </div>

    </div>
  </div>
</div>

<main id="content" class="content" role="main">
<div class="grid-row">
      <div class="column-two-thirds">
          <h2 class="heading-large" id="1">Benefits of GOV.UK PaaS</h2>
          <p>Using GOV.UK PaaS means teams can deploy and run applications without having to build and manage their own infrastructure. This avoids unnecessary repetition across government, with infrastructure and webops engineers spending less time solving the same problems.</p>
      </div>
</div>

<div class="grid-row">
      <div class="column-half">
          <p>Service teams can:</p>
      </div>
</div>

  

</main>

{% endblock %}