{% extends "_layouts/govuk-paas-2.html" %}

{% set section = "index" %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Products</a>
            </li>
            <li class="active">
                PaaS
            </li>
          </ol>
        </div>

      </div>

      <div class="column-two-thirds product-overview-intro-text">
        <h1 class="heading-xlarge">Deploy and run government applications</h1>
        <p class="lede"> 
        GOV.UK Platform as a Service (PaaS) is a quick, easy and cheap way to deploy and host government applications. The PaaS manages the platform infrastructure, so you can focus on building your digital services.</p>
        <a class="button button-start" href="https://government-paas-developer-docs.readthedocs.io/en/latest/getting_started/quick_setup_guide/" role="button">Ask for a trial account</a>
        </p>
        <p class="button-hint">You’ll be able to deploy test applications in a safe environment and test the features of the command line tool.</p>
      </div>
      <div class="column-one-third product-overview-intro-image">
        <img class= "top-image" src="/public/images/paas-top-image.png">
      </div>

    </div>
  </div>
</div>

<main id="content" class="content" role="main">
<div class="grid-row">
      <div class="column-two-thirds">
          <h2 class="heading-large" id="1">Benefits of GOV.UK PaaS</h2>
          <p>Using GOV.UK PaaS means teams can deploy and run applications without having to build and manage their own infrastructure. This avoids unnecessary repetition across government, with infrastructure and webops engineers spending less time solving the same problems.</p>
      </div>
</div>

<div class="grid-row">
      <div class="column-two-thirds">
          <p>Service teams can:</p>
          <ul class="list list-bullet">
            <li>save time and money which would have been spent on setting up a hosting infrastructure</li>
            <li>deploy and run applications written in a range of languages and frameworks</li>
            <li>rapidly scale applications</li>
            <li>easily manage their applications</li>
            <li>get 24 hour platform-level support</li>
            <li>get started easily using a simple procurement process</li>
          </ul>
      </div>
</div>
<div class="grid-row">
      <div class="column-full">
        <div class="section-border-top">
          <h2 class="heading-large" id="2">What it is</h2>
        </div>
      </div>
      <div class="column-two-thirds">
          <p>GOV.UK PaaS is hosted by Amazon Web Services (AWS), run from AWS’s European data centre in Ireland. The PaaS is:</p>
          <ul class="list list-bullet">
            <li>resilient since it operates across three independent availability zones</li>
            <li>able to support a PostgreSQL database service (powered by AWS)</li>
            <li>accredited for handling information classified as Official</li>
            <li>built on an open source platform (Cloud Foundry) and deployed to a public cloud</li>
            <li>flexible since applications aren’t locked into one cloud provider</li>
          </ul>
      </div>
      <div class="column-two-thirds">
          <p>The PaaS is already being used by the GOV.UK Trade Tariff live service, as well as several services building prototypes.</p>
          <p><a href="/govuk-paas-2/features">Find out more about GOV.UK PaaS</a>. This includes how it’s built, run and supported, as well as how to use it.</p>
      </div>
</div>

<div class="grid-row">
      <div class="column-full">
        <div class="section-border-top">
          <h2 class="heading-large" id="3">What you pay for</h2>
        </div>
      </div>
      <div class="column-two-thirds">
          <p>You pay for what you use, like hosting, compute resource and backing services such as a database. The Government Digital Service will pay for building and maintaining the platform.</p> 
          <p>The overall cost depends on factors such as the number of environments you deploy to, the size and number of your applications and whether they need to have high availability.</p>
      </div>
</div>
<div class="grid-row">
      <div class="column-full">
        <div class="section-border-top">
        </div>
      </div>
      <div class="column-two-thirds">
          <h2 class="heading-large" id="4">Criteria for deploying an application to the PaaS</h2>
          <p>Your application can run on the PaaS if you:</p>
          <ul class="list list-bullet">
            <li>follow the twelve-factor application principles - this will be the case if your app was written to be deployed to another PaaS, such as Heroku</li>
            <li>don’t require any backing service apart from a PostgreSQL database</li>
            <li>don’t carry data certified as Secret or above</li>
            <li>write applications in a language supported by the default Cloud Foundry buildpacks</li> 
      </div>
</div>
<div class="grid-row">
      <div class="column-half">
        <div class="section-border-top">
          <h2 class="heading-large" id="5">Contact the team</h2>
        </div>
          <p>GOV.UK PaaS is built and managed by a full-time team of developers, webops engineers, product managers and user researchers at GDS.</p> 
          <p>The product manager is Jess O’Leary.</p> 
          <p><a href="#">Contact the team</a> to ask for a trial account or ask a question.</p>
      </div>
      <div class="column-half">
        <div class="team-image">
              <img src="/public/images/paas-team.jpg">
        </div>
      </div>
</div>
</main>

{% endblock %}