{% extends "_layouts/govuk-paas-2.html" %}

{% set section = "support" %}

{% block content %}

<main id="content" class="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="../govuk-service-manual/index#govuk-products">Products</a>
    </li>
    <li>
        <a href="index.html">Platform as a Service</a>
    </li>
    <li class="active">
        Support
    </li>
  </ol>
</div>




<div class="grid-row">
  <div class="column-two-thirds">
        
        <h1 class="heading-large">Get support or give feedback</h1>
        <p class="">What went wrong, if anything? What went well? How could we improve this service?</p>

        <form method="post">
            
        <div class="form-group" >
        
          <label class="form-label" for="feedback">
              <label for="feedback"></label>
          </label>

          <textarea class="form-control form-control-1-1" data-module="" id="feedback" name="feedback" rows="10"></textarea>
          
        </div>

        <h3 class="heading-medium">Do you want a reply?</h3>
        <p>Leave your details below if you'd like a response.</p>
            
        <div class="form-group" >
          <label class="form-label" for="name">
              <label for="name">Name</label>
          </label>
          <input class="form-control form-control-1-1 " data-module="" id="name" name="name" rows="8" type="text" value="">
        </div>
            
        <div class="form-group" >
          <label class="form-label" for="email_address">
              <label for="email_address">Email address</label>
          </label>

          <input class="form-control form-control-1-1 " data-module="" id="email_address" name="email_address" rows="8" type="text" value="">
        </div>
            
        <div class="page-footer">
          
            <input type="hidden" name="csrf_token" value="1479295614##976d209dd1976c382d31065813e2473f178a86df" />
            <input type="submit" class="button" value="Send" />

        </div>
  
        </form>


    </div>

    <div class="column-one-third">
        <div class="govuk-related-items">
          <h2 class="heading-medium">
            Other ways to get in touch with the PaaS team</h2>
          
            <ul class="font-xsmall">
                <li><a href="#">A link if you want it</a></li>
            </ul>
        
        </div> <!-- End Items -->
    </div> <!-- End One Third -->
</div>          


</main>

{% endblock %}